#content table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

#content table th,
#content table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #e9ecef;
}

#content table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #e9ecef;
}

#content table tbody + tbody {
	border-top: 2px solid #e9ecef;
}

#content table table {
	background-color: #fff;
}

#content label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

#content button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

#content input,
#content button,
#content select,
#content optgroup,
#content textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

#content button,
#content input {
	overflow: visible;
}

#content button,
#content select {
	text-transform: none;
}

#content button,
#content html [type="button"],
#content [type="reset"],
#content [type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

#content button::-moz-focus-inner,
#content [type="button"]::-moz-focus-inner,
#content [type="reset"]::-moz-focus-inner,
#content [type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

#content input[type="radio"],
#content input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

#content input[type="date"],
#content input[type="time"],
#content input[type="datetime-local"],
#content input[type="month"] {
	-webkit-appearance: listbox;
}

#content textarea {
	overflow: auto;
	resize: vertical;
}

#content fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

#content legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

#content progress {
	vertical-align: baseline;
}

#content [type="number"]::-webkit-inner-spin-button,
#content [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

#content [type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}

#content [type="search"]::-webkit-search-cancel-button,
#content [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

#content ::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

#content output {
	display: inline-block;
}

#content summary {
	display: list-item;
}

#content template {
	display: none;
}

#content [hidden] {
	display: none !important;
}

#content button,
#content [type="button"],
#content [type="date"],
#content [type="datetime"],
#content [type="datetime-local"],
#content [type="email"],
#content [type="month"],
#content [type="number"],
#content [type="password"],
#content [type="reset"],
#content [type="search"],
#content [type="submit"],
#content [type="tel"],
#content [type="text"],
#content [type="time"],
#content [type="url"],
#content [type="week"],
#content select,
#content textarea {
	height: 100%;
	min-height: 2.5rem;
}

#content button,
#content input[type="button"],
#content input[type="reset"],
#content input[type="submit"] {
	color: inherit;
	background-color: #e7b20e;
	transition-duration: 0.16s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: all;
	padding: 0.5em 0.75em;
	line-height: 1.5;
	border-width: 0;
	border-radius: 0.1rem;
	font-size: inherit;
	font-family: inherit;
	display: inline-block;
	margin: 0;
	word-break: normal;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: none;
}

#content button:hover,
#content button:active,
#content button:focus,
#content button.is-active,
#content input[type="button"]:hover,
#content input[type="button"]:active,
#content input[type="button"]:focus,
#content input[type="button"].is-active,
#content input[type="reset"]:hover,
#content input[type="reset"]:active,
#content input[type="reset"]:focus,
#content input[type="reset"].is-active,
#content input[type="submit"]:hover,
#content input[type="submit"]:active,
#content input[type="submit"]:focus,
#content input[type="submit"].is-active {
	box-shadow: inset 0 0 0 20rem rgba(248, 249, 249, 0.3);
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
#content .h1,
#content .h2,
#content .h3,
#content .h4,
#content .h5,
#content .h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

#content h1,
#content .h1 {
	font-size: 2.5rem;
}

#content h2,
#content .h2 {
	font-size: 2rem;
}

#content h3,
#content .h3 {
	font-size: 1.75rem;
}

#content h4,
#content .h4 {
	font-size: 1.5rem;
}

#content h5,
#content .h5 {
	font-size: 1.25rem;
}

#content h6,
#content .h6 {
	font-size: 1rem;
}

article {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Liberation Sans", sans-serif;
	margin-top: 2.5rem;
	padding: 1.5rem;
	border-radius: 2px;
}
