
/*.entry-title > a {

&::after {
margin-left: auto !important;
@mixin icon arrow-right;
}
}

.entry-title > a[href*="//"]:not([href*="charlottediocese.org"]):not([href*="charlottediocese.dev"])::after {
@mixin icon external-link;
}*/

a[href*="thankyou4caring.org"]:not([class]):before {
	@mixin icon loyalty;
}

a[href*="catholicnewsherald.com"]:not([class]):before {
	@mixin icon newspaper;
}

.show-icons a {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

.gv-container a[href*="/departments/"]:before,
.gv-container a[href*="/education-vicariate/"]:before,
.gv-container a[href*="/ev/"]:before,
.gv-container a[href*="/archive-posts/"]:before,
.gv-container a[href*="/development/"]:before,
.gv-container a[href*="/housing/"]:before,
.gv-container a[href*="/human-resources/"]:before,
.gv-container a[href*="/it/"]:before,
.gv-container a[href*="/liturgy-and-worship/"]:before,
.gv-container a[href*="/planning/"]:before,
.gv-container a[href*="/tribunal/"]:before,
.gv-container a[href*="/finance/"]:before,
.gv-container a[href*="/properties/"]:before,
.gv-container a[href*="/multicultural/"]:before,
.gv-container a[href*="/vocations/"]:before,
.icon-office:before {
	@mixin icon office;
}

.gform_save_link::before {
	@mixin icon backup;

	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}

.show-icons a[href*="/parishes/"]:before,
.icon-parish:before {
	@mixin icon parishes;
}

.show-icons a[href*="/schools/"]:before,
.icon-school:before {
	@mixin icon schools;
}

a[href*="thankyou4caring.org"],
a[href*="catholicnewsherald.com"] {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

.facetwp-checkbox {
	background: none !important;
}

.facetwp-checkbox::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	min-width: 1em;
	width: 1em;
	height: 1em;
	background-color: rgba(245, 245, 245, 0.8);
	border: 1px solid rgba(183,198,205,.9);
	padding: 0;
	margin: 0;
	background-size: contain;
	margin-right: .5em;
	border-radius: 2px;
}

.facetwp-checkbox.checked::before {
	background-color: #fff;
	@mixin icon check, #36474f;
}

.btn > p {
	margin: 0!important;
	padding: 0;
}

.btn-round a {
	color: transparent;
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.header__menu-toggle > .icon-sm {
	margin: 0;
}

#page .card-img > a:before {
	content: none;
}
