.tile-icon {
	max-height: 90px;
	max-width: 90px;
	opacity: 0.7;

	.v-icon {
		vertical-align: top;
	}
}

.tile {
	margin: 0.25rem;
	background-image: linear-gradient(335deg, rgba(0, 0, 0, 0.08) 50%, transparent 50%);
	transition-duration: $transition-time;
	transition-timing-function: $animation-curve-default;
	transition-property: all;
	animation-play-state: paused;
	animation-fill-mode: both;
	align-self: flex-start;
}

.tiled-icon .v-icon {
	vertical-align: top;
}

a.tile-link {
	border: 5px solid #36474f;
	box-shadow: inset 0 0 1rem 0.7rem rgba(0, 0, 0, 0.2);

	&:hover {
		opacity: 1;
	}
}

.tile-title h2 {
	z-index: 1;
}

// .tile:hover {
// 	background-image: linear-gradient(335deg, rgba(0, 0, 0, 0.06) 50%, transparent 50%);
// }

.is-animating .tile {
	animation-play-state: running;
}

@include mui-series {

	.tile:nth-child(1) {
		@include mui-queue(0.6s, -0.2s, fade, slide($direction: down));
	}

	.tile:nth-child(3) {
		@include mui-queue(0.7s, -0.3s, fade, slide($direction: down));
	}

	.tile:nth-child(2) {
		@include mui-queue(1s, -0.3s, fade, zoom);
	}

	.tile:nth-child(4) {
		@include mui-queue(0.6s, -0.2s, fade, slide($direction: down));
	}

}

@include mui-series {

	.tile:nth-child(5) {
		@include mui-queue(0.7s, -0.1s, fade, slide($direction: down));
	}

	.tile:nth-child(6) {
		@include mui-queue(1s, -0.3s, fade, zoom);
	}

	.tile:nth-child(7) {
		@include mui-queue(0.6s, -0.2s, fade, slide($direction: down));
	}

	.tile:nth-child(8) {
		@include mui-queue(0.3s, -0.1s, fade, slide($direction: down));
	}

	.tile:nth-child(9) {
		@include mui-queue(0.6s, -0.2s, fade, zoom);
	}

	.tile:nth-child(10) {
		@include mui-queue(0.6s, -0.2s, fade, slide($direction: down));
	}
}

.tile:nth-child(odd) {
	margin-top: 1rem;
}
