.tiled-icon {
	font-size: 13rem;
	line-height: 1;
	stroke: rgba(54, 71, 79, 0.3);
}

.tiled-icon > .v-icon {
	stroke-width: 1%;
	stroke-linejoin: round;
}

.tile {
	@include md {
		min-width: 23%;
	}
}

.has-image.section-row {
	min-height: 10rem;
}

.card-wrap.o-cell > .entry {
	width: 100%;
	max-width: 100%;
}

.card-wrap > .entry {
	background-color: #fff;
}

.blur-img {
	border: 8px solid #36474f;
}

.section-row__content.blur-img {
	width: 50%;
	border-color: #36474f;
	transition-duration: $transition-time;
	transition-timing-function: $animation-curve-default;
	transition-property: opacity;

	&:hover {
		opacity: 0.1;
	}
}

.u-bg-1-glass-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba($color1, 0.8);
	}
}

.u-bg-2-glass-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba($color2, 0.8);
	}
}

.u-bg-3-glass-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba($color3, 0.8);
	}
}

.u-bg-1-glass-light-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba(lighten($color1, 10), 0.8);
	}
}

.u-bg-2-glass-light-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba(lighten($color2, 10), 0.8);
	}
}

.u-bg-3-glass-light-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba(lighten($color3, 10), 0.8);
	}
}

.u-bg-1-glass-dark-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba(darken($color1, 10), 0.8);
	}
}

.u-bg-2-glass-dark-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba(darken($color2, 10), 0.8);
	}
}

.u-bg-3-glass-dark-over {
	> * {
		position: relative;
	}

	&::before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba(darken($color3, 10), 0.8);
	}
}
