

/*.entry-title > a {

&::after {
margin-left: auto !important;
@mixin icon arrow-right;
}
}

.entry-title > a[href*="//"]:not([href*="charlottediocese.org"]):not([href*="charlottediocese.dev"])::after {
@mixin icon external-link;
}*/
a[href*="thankyou4caring.org"]:not([class]):before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='v-icon' fill='%2390a4ae' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M17.258 15.287q.75-.752.75-1.784 0-1.033-.727-1.76-.728-.729-1.761-.729-1.08 0-1.784.704l-.751.751-.704-.75q-.704-.705-1.784-.705-1.032 0-1.76.728-.729.728-.729 1.76 0 1.08.704 1.785l4.273 4.272zM5.473 6.977q.61 0 1.057-.446.447-.446.446-1.057-.001-.61-.446-1.056-.445-.446-1.057-.446-.612 0-1.056.446-.445.445-.446 1.056 0 .611.446 1.057.446.446 1.056.446zm15.963 4.6q.564.565.564 1.409 0 .844-.564 1.408l-7.042 7.042Q13.83 22 12.986 22t-1.408-.564l-9.014-9.014Q2 11.858 2 11.014V3.972q0-.798.587-1.385T3.972 2h7.042q.845 0 1.408.564z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}
a[href*="catholicnewsherald.com"]:not([class]):before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon-lg icon-newspaper v-icon' version='1' fill='%2390a4ae' viewBox='0 0 32 32' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M0 4v22a2 2 0 0 0 2 2h26V4zm2 2h24v20H2z' class='news-front'/%3E%3Cpath d='M4 14h10v10H4zm12 8h6v2h-6zm0-4h8v2h-8zm0-4h8v2h-8zM4 10h20v2H4z' class='news-text'/%3E%3Cpath d='M28 7.992v20c3.681.132 3.95-1.38 4-3v-17z' class='news-back'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}
.show-icons a {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}
.gv-container a[href*="/departments/"]:before,
.gv-container a[href*="/education-vicariate/"]:before,
.gv-container a[href*="/ev/"]:before,
.gv-container a[href*="/archive-posts/"]:before,
.gv-container a[href*="/development/"]:before,
.gv-container a[href*="/housing/"]:before,
.gv-container a[href*="/human-resources/"]:before,
.gv-container a[href*="/it/"]:before,
.gv-container a[href*="/liturgy-and-worship/"]:before,
.gv-container a[href*="/planning/"]:before,
.gv-container a[href*="/tribunal/"]:before,
.gv-container a[href*="/finance/"]:before,
.gv-container a[href*="/properties/"]:before,
.gv-container a[href*="/multicultural/"]:before,
.gv-container a[href*="/vocations/"]:before,
.icon-office:before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%2390a4ae' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M2 30h14V2H2v28zm8.75-24.5h3.5V9h-3.5V5.5zm0 7h3.5V16h-3.5v-3.5zm0 7h3.5V23h-3.5v-3.5zm-7-14h3.5V9h-3.5V5.5zm0 7h3.5V16h-3.5v-3.5zm0 7h3.5V23h-3.5v-3.5zm14-8.75H30v1.75H17.75zm0 19.25h3.5v-7h5.25v7H30V14.25H17.75z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}
.gform_save_link::before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='v-icon' fill='%2390a4ae' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M16.852 3.539c4.651 2.388 6.486 8.125 4.107 12.794-2.379 4.668-8.083 6.51-12.746 4.122a9.423 9.423 0 0 1-4.568-5.227l1.94-1.223a7.27 7.27 0 0 0 3.646 4.466c3.562 1.83 7.917.416 9.74-3.16a7.276 7.276 0 0 0-3.136-9.788c-3.563-1.83-7.918-.416-9.74 3.16L8.32 9.835l-5.858 3.659L2 6.58l2.107 1.081c2.39-4.692 8.13-6.486 12.745-4.122zm-5.16 9.301a1.186 1.186 0 0 1-.343-.843c0-.083.036-.143.048-.226h-.012l1.148-5.714 1.148 5.714 3.585 3.79-5.325-2.519.024-.023a1.343 1.343 0 0 1-.273-.179z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;

	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}
.show-icons a[href*="/parishes/"]:before,
.icon-parish:before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%2390a4ae' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M16 2L2 13.737V30h28V13.737zm-2.462 5.69h4.924v6.07h5.862v4.417h-5.862v10.67h-4.924v-10.67H7.676V13.76h5.862z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}
.show-icons a[href*="/schools/"]:before,
.icon-school:before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2390a4ae' class='tile-icon v-icon' viewBox='0 0 48 48' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M47.01 44.23H.99a.99.99 0 1 1 0-1.98h46.02a.99.99 0 1 1 0 1.98zm0 3.77H.99a.99.99 0 1 1 0-1.98h46.02a.99.99 0 1 1 0 1.98zm0-25.753H34.996V15.56h.815a.99.99 0 0 0 .31-1.936L24.41 8.296a.994.994 0 0 0-.82 0L11.78 13.67a.99.99 0 0 0 .409 1.89h.815v6.687H.99a.99.99 0 0 0-.99.99v16.606c0 .547.443.99.99.99h18.278V30.53c0-.58.443-1.048.99-1.048h7.484c.547 0 .99.47.99 1.048v10.302H47.01a.99.99 0 0 0 .99-.99V23.237a.99.99 0 0 0-.99-.99zM6.518 37.02a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.334 6.585c0 .548-.442.99-.99.99s-.99-.442-.99-.99v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584c0 .548-.442.99-.99.99s-.99-.442-.99-.99v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.334 6.585a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm5.472-5.402a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.813a.99.99 0 1 1 1.98 0v2.813zm4.334 6.584a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.813a.99.99 0 1 1 1.98 0v2.813zm4.333 6.584a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.813a.99.99 0 0 1 1.98 0v2.813zm5.472 18.57a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.333 6.585a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.333 6.585a.988.988 0 1 1-1.978 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.988.988 0 1 1-1.978 0v-2.812a.99.99 0 1 1 1.98 0v2.812z'/%3E%3Cpath d='M24 10.187a.99.99 0 0 1-.99-.99V.99a.99.99 0 1 1 1.98 0v8.208a.99.99 0 0 1-.99.99z'/%3E%3Cpath d='M23.217 4.366V2.75c.597 0 1.08-.393 1.08-.88 0-.486-.482-.88-1.08-.88H17.81c-.598 0-1.08.394-1.08.88v3.377c0 .486.48.88 1.08.88h5.408c.597 0 1.08-.394 1.08-.88 0-.488-.484-.88-1.08-.88z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}
a[href*="thankyou4caring.org"],
a[href*="catholicnewsherald.com"] {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}
.facetwp-checkbox {
	background: none !important;
}
.facetwp-checkbox::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	min-width: 1em;
	width: 1em;
	height: 1em;
	background-color: rgba(245, 245, 245, 0.8);
	border: 1px solid rgba(183,198,205,.9);
	padding: 0;
	margin: 0;
	background-size: contain;
	margin-right: .5em;
	border-radius: 2px;
}
.facetwp-checkbox.checked::before {
	background-color: #fff;
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='v-icon' fill='%2336474f' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M8.356 16.423l-4.741-4.975L2 13.13l6.356 6.67L22 5.482 20.397 3.8z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}
.btn > p {
	margin: 0!important;
	padding: 0;
}
.btn-round a {
	color: transparent;
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}
.header__menu-toggle > .icon-sm {
	margin: 0;
}
#page .card-img > a:before {
	content: none;
}
