
.archive .type-department,
.taxonomy-agency .entry {
	overflow: hidden;
	display: flex;
	max-height: 100px;

	@include md {
		max-height: 130px;
	}
}

.taxonomy-agency .thumbnail,
.archive .type-department>.thumbnail {
	width: 130px;
	max-width: 33.33%;
}

.title-text.u-flex-col {
	flex-direction: column-reverse;
}

.doc-embed {
	@include md {
		height: 80vh;
	}
}
