.alert.has-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.gv-list-view.gv-no-results.gv-no-results {
	display: none;
}

.add-parent-text {
	margin-top: 0.5rem;
	color: #868e96;
	font-style: italic;
	font-size: 0.9rem;
	max-width: 100%;
}

input:disabled,
input[readonly],
select:disabled,
textarea:disabled,
textarea[readonly],
input[readonly]:focus,
textarea[readonly]:focus {
	pointer-events: none;
	outline: none;
	border-color: transparent !important;
	background-color: rgba(248, 249, 249, 0.9) !important;
	cursor: default;
	opacity: 0.8;
}

#content .gform_wrapper .field_description_below .gfield_description {
	padding-top: 0.25rem;
	font-size: .825rem!important;
	color: #868e96!important;
}
