.smcs-post {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Liberation Sans", sans-serif;
	background-color: rgba(255, 255, 255, 0.85);
	margin-top: 2.5rem;
	padding: 1.5rem;
	border-radius: 2px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
}

/* .smcs-form {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Liberation Sans", sans-serif;
	padding: 1.5rem 0;
} */

.smcs-post p:empty {
	display: none;
}
