.u-text-center {
	text-align: center;
}

.u-1of1 {
	width: 100%;
}

.u-1of2 {
	width: 50%;
}

.u-mb {
	margin-bottom: 1.5rem;
}

.u-color-muted {
	color: $color-muted;
}

.u-text-normal {
	font-size: 1rem;
	font-weight: normal;
}

.u-inline-block {
	display: inline-block;
}

.u-invisible {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
	visibility: hidden;
}

.sm-flex-panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 1rem;
	padding: 1rem;
	align-items: center;
}

.u-flex {
	display: flex;
}

.u-flex-wrap {
	flex-wrap: wrap;
}

.u-flex-center {
	align-items: center;
}

.u-flex-jb {
	justify-content: space-between;
}

.sm-card,
.u-card {
	padding: 1rem 1.5rem;
	margin-bottom: 1.5rem;
	min-width: 25%;
	border-radius: 2px;
}

.u-shadow,
.sm-shadow {
	box-shadow: $shadow-1;
}

.sm-bg-white {
	background-color: #fff;
}

.u-h4,
.parent-name {
	font-size: 1.5rem;
}

.s-grade {
	font-size: 4rem;
	line-height: 1;
	font-weight: bolder;
	opacity: 0.3;
}

#content .s-grade > .sm_card-subtitle {
	margin-bottom: -0.375rem;
}

.sm-card .gv-list-view.gv-list-view {
	vertical-align: top;
	max-width: 100%;
	margin-bottom: 0;
}

p:last-child {
	margin-bottom: 0;
}

.gv-container .gv-list-view.gv-no-results {
	display: none;
}

.sm-narrow {
	max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
}

.sm-parent > div {
	margin-bottom: 0.5rem;
}

.postid-1496 .gv-list-view {
	max-width: 100%;
}

/* .gv-container.gv-container-no-results {
    display: none;
} */

.gv-list-view-content p {
	margin: 0;
}

.postid-1496 .gv-list-view-content {
	padding: 0;
}

.smcs-post .alert {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
	line-height: 1.3;
	margin-bottom: 1rem;
	border-width: 0;
	border-left: 5px solid currentColor;
	border-radius: 0 2px 2px 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.smcs-post .alert-info {
	color: $color-info;
	background-color: #fff;
	padding-left: 1.5rem;
}

.alert .subtext,
.alert small {
	color: $color-muted;
	font-style: normal;
	font-size: $h6;
}

.gv-field-40-edit_link {
	text-align: right;
	font-size: $h6;
}

body.gravityview-template-smcs-form .post-content {
	max-width: 100%;
}
